.listing-block{background:#fff; height:500px; padding-top:20px;}
.media {background:#fff; position:relative; margin-bottom:15px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
.media img{width:200px;margin:0; height:180px;}
.media-body{border:1px solid #bcbcbc; border-left:0; height:180px;}
.media .stars{position:relative;; left:10px; font-size:20px; top:4px; color:#E74C3C;}
.media .price{float:left; width:100%; font-size:30px;font-weight:600; color:#4765AB;}
.media .price small{display:block; font-size:17px; color:#232323;}
  big{font-size:12px; color:#232323;float: left;}
.media .stats{float:left; width:100%; margin-top:10px;}
.media .stats span{float:left; margin-right:10px; font-size:15px;}
.media .stats span i{margin-right:7px; color:#4765AB;}
.media .address{float:left; width:100%;font-size:14px; margin-top:5px; color:#888;}
.media .fav-box{position:absolute; right:10px; font-size:20px; top:4px; color:#E74C3C;}
.drawerButton{
  position: absolute;
    top: 90px;
    left: 20px;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.displayFilter{
display: none;
}
.displayfullFilter{
  display: block;
}
.map-box{background-color:#A3CCFF;}
@media (max-width: 576px) {
  .media {
    display: block;
    position: relative;

  }
  .media-body{border:1px solid #bcbcbc; border-left:0; height:240px;}
  .media img{width: -webkit-fill-available;margin:0; height:240px;}
  .media .address{float:left; width:50%;font-size:12px; margin-top:5px; color:#888;}
  .displayFilter{
  display: block;
  }
  .displayfullFilter{
    display: none;
  }
}
@media (min-width: 576px) and (max-width: 1000px) {
  .media img{width:200px;margin:0; height:220px;}
  .media-body{border:1px solid #bcbcbc; border-left:0; height:220px;}
  .card {display: -webkit-inline-box;
     min-width: fit-content;}
    .displayFilter{
    display: block;
    }
    .displayfullFilter{
      display: none;
    }
    big{
      font-size:9px;
    }

}
@media (min-width: 1000px) and (max-width: 1240px) {
    .displayFilter{
    display: block;
    }
    .displayfullFilter{
      display: none;
    }

}
