.App {
  text-align: center;
}
.main-app,
.main-view {
  width: 100% !important;
  height: 100% !important;


}
body{
position: absolute;
width: 100%;
height: 100%;
background-color: rgb(220, 220, 220);
  /* background-image: url('/assets/img/test3.jpg'); */
  /* background-repeat: no-repeat; */
}
.worldStyle{
  background-color: lightblue;
    border-radius: 142%;
}
#root{
  position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('/assets/img/sky.jpg');
     background-repeat: no-repeat;

}
.backGroundMainPage{
  background-image: url('/assets/img/clouds.jpg');
   background-repeat: no-repeat;
   width: 100%;
   background-size: cover;
}
.backGroundAirplane{
  background-image: url('/assets/img/airplane.jpg');
   background-repeat: no-repeat;
    background-size: cover;
}
.backGroundSky{
  background-image: url('/assets/img/sky.jpg');
   background-repeat: no-repeat;
    background-size: cover;
}
.backGroundTickets{
  background-image: url('/assets/img/skyClouds.jpg');
   background-repeat: no-repeat;
    background-size: cover;
}
.trendingImageHolder{
  width: 140px;
  height: 140px;
}
.mb-12{
  margin-bottom: 12rem !important;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.cover-tickets {

	opacity: 0;
  animation: fadeMe 0.1s linear;
	animation-delay: 0.6s;
	animation-fill-mode: forwards;
	background-image: linear-gradient(to right, rgba(44, 62, 80, 1), rgba(0, 0,0, 0));
}
.cover-gradient {
  height: 100vh;
	width: 100vw;
	opacity: 0;
  animation: fadeMe 0.3s linear;
	animation-delay: 2s;
	animation-fill-mode: forwards;
	background-image: linear-gradient(to right, rgba(179, 49, 95, 0.5), rgba(58, 0, 117, 0.5));
}

@keyframes fadeMe {
  0% {
		opacity: 0;
  }
  100% {
		opacity: 1;
	}
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px)
  }
  100% {
    transform: translateY(0px)
  }
}
